@font-face {
  src: url(./fonts/LeagueSpartan-VariableFont_wght.ttf);
  font-family: spartan;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: spartan;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: #f2f2f2;
}
