@mixin btnStyle($bgColor, $color, $bgColorHover) {
  border: none;
  background-color: $bgColor;
  padding: 12px 22px;
  border-radius: 40px;
  color: $color;
  font-weight: 700;
  margin-left: 10px;

  &:hover {
    background-color: $bgColorHover;
  }
}

.goBack {
  position: relative;
  padding-left: 25px;
  color: #0c0e16;
  font-weight: 700;
  border: none;

  &__icon {
    position: absolute;
    content: "";
    width: 7px;
    height: 10px;
    background: url(../../img/goBack.png) no-repeat;
    background-size: 100% 100%;
    left: 0;
    top: 7px;
  }

  &:hover {
    color: #7e88c3;
  }
}

.name {
  color: #858bb2;
  padding-right: 15px;
}

.wrapper {
  background-color: #fff;
  padding: 20px 30px;
  margin-top: 50px;
  border-radius: 8px;

  &__btns > button {
    &:nth-child(1) {
      @include btnStyle(#f9fafe, #7e88c3, #dfe3fa);
    }
    &:nth-child(2) {
      @include btnStyle(#ec5757, #fff, #ff9797);
    }
    &:nth-child(3) {
      @include btnStyle(#7c5dfa, #fff, #9277ff);
    }
  }
}

.cancel {
  @include btnStyle(#f9fafe, #7e88c3, #dfe3fa);
}

.save,
.login_btn {
  @include btnStyle(#7c5dfa, #fff, #9277ff);
}
